<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
    <title>BoardsterUI Admin</title>
    <!-- plugins:css -->
    <link href="../../static/adminResources/css/materialdesignicons.min.css"
          rel="stylesheet">
    <link href="../../static/adminResources/css/vendor.bundle.base.css"
          rel="stylesheet">
    <link href="../../static/adminResources/css/vendor.bundle.addons.css"
          rel="stylesheet">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="../../static/adminResources/css/style.css" rel="stylesheet">
    <!-- endinject -->
    <link href="../../static/adminResources/images/favicon.png"
          rel="shortcut icon"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    {% include 'admin/header.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_sidebar.html -->


        {% include 'admin/menu.html' %}


        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row grid-margin">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add Complain Reply</h4>
                                <form action="/agency/insert_user_complain_reply" class="cmxform"
                                      method="post">
                                    <input name="complainId"
                                           type="hidden"
                                           value="{{ complain_vo_list['complain_id'] }}">
                                    <input name="complain_from_login_id"
                                           type="hidden"
                                           value="{{ complain_vo_list['complain_from_login_id'] }}">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Complain
                                                Subject</label>
                                            <input class="form-control"
                                                   id="exampleTextarea1"
                                                   name="complainSubject"
                                                   readonly
                                                   type="text"
                                                   value="{{ complain_vo_list['complain_subject'] }}"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Complain
                                                Description</label>
                                            <textarea class="form-control"
                                                      id="exampleTextarea1"
                                                      name="complainDescription"
                                                      readonly
                                                      rows="4">{{ complain_vo_list['complain_description'] }}</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Complain
                                                Reply</label>
                                            <textarea class="form-control"
                                                      id="exampleTextarea1"
                                                      name="complainReplyDescription"
                                                      rows="4"></textarea>
                                        </div>

                                        <input class="btn btn-primary"
                                               type="submit" value="Submit">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            {% include 'admin/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<!-- End custom js for this page-->
</body>

</html>
