<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html"><img
                alt="logo"
                src="../../static/adminResources/images/logo.svg"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img
                alt="logo"
                src="../../static/adminResources/images/logo-mini.svg"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end justify-content-lg-start">
        <button class="navbar-toggler navbar-toggler align-self-center"
                data-toggle="minimize" type="button">
            <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
                <div class="input-group">
                    <div class="input-group-prepend">
                <span class="input-group-text" id="search">

                </span>
                    </div>

                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="profileDropdown">
                    <img alt="profile"
                         src="../../static/adminResources/images/face5.jpg"/>
                    <span class="nav-profile-name">Evan Morales</span>
                </a>
                <div aria-labelledby="profileDropdown"
                     class="dropdown-menu dropdown-menu-right navbar-dropdown">
                    <a class="dropdown-item" href="/admin/logout_session">
                        <i class="mdi mdi-logout text-primary"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
                data-toggle="offcanvas"
                type="button">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>
