<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item active">
            <a class="nav-link" href="/agency/load_dashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/agency/view_quotation">
                <i class="mdi mdi-google-maps menu-icon"></i>
                <span class="menu-title">Manage Quotation</span>
            </a>
        </li>

        <li class="nav-item">
            <a aria-controls="ui-basic" aria-expanded="false" class="nav-link"
               data-toggle="collapse"
               href="#TransportDetails">
                <i class="mdi mdi-google-maps menu-icon"></i>
                <span class="menu-title">Manage Transport Details</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="TransportDetails">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/agency/load_transport_detail">Add
                        Transport
                        Details</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/agency/view_transport_detail">View
                        Transport
                        Details</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/agency/view_request">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage Request</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/agency/view_order">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage Order</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/agency/view_user_complain">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage User Complain</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/agency/view_user_feedback">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage User Feedback</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/agency/view_complain">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Complain</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/agency/view_feedback">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Feedback</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
