<footer class="footer-area">

    <!--Footer Bottom-->
    <div class="footer-copyright">
        <div class="auto-container clearfix">
            <!--Copyright-->
            <div class="copyright text-center">Industrial Transport Copyright
                2016 &copy; Theme Created By <a
                        href="http://themeforest.net/user/scriptsbundle/portfolio"
                        target="_blank">Scriptsbundle</a>
                All Rights Reserved
            </div>
        </div>
    </div>
</footer>
