<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
    <title>BoardsterUI Admin</title>
    <!-- plugins:css -->
    <link href="../../static/adminResources/css/materialdesignicons.min.css"
          rel="stylesheet">
    <link href="../../static/adminResources/css/vendor.bundle.base.css"
          rel="stylesheet">
    <link href="../../static/adminResources/css/vendor.bundle.addons.css"
          rel="stylesheet">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="../../static/adminResources/css/style.css" rel="stylesheet">
    <!-- endinject -->
    <link href="../../static/adminResources/images/favicon.png"
          rel="shortcut icon"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    {% include 'admin/header.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_sidebar.html -->


        {% include 'admin/menu.html' %}


        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <img alt=""
                             src="../../static/adminResources/images/facts-parallex.jpg"
                             style="height: 100%;width: 100%;border-radius: 10px">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="text-muted text-center">Industrial
                            Transport</h1>
                        <p class="text-muted text-justify"
                           style="font-size: 18px;line-height: 1.7em">
                            Application (Industrial transport management) now
                            day transport Management are commercially
                            managed but now, digital day everything happens
                            online. So, such a way for industrial people
                            transport problem happen. Application can help to
                            find a nearest transport their area and
                            also help to them book online from the application.
                            It will save time and find a perfect
                            transport as per the needs. Transport can also
                            update their transport details and they will
                            earn more money with this concept. Transport can
                            also take raw-material and deliver the
                            customer location.
                            Overview Introduction Transportation and Industrial
                            Engineering The Parameters and Functions
                            Associated with Transportation The Role of the
                            Industrial Engineer in Transportation
                            Planning and Transportation Operations
                            Transportation and the Supply Chain Transporting
                            Goods Pickup and Delivery Large-Scale
                            Transportation Network Planning Driver Scheduling
                            Quality in Transportation Technology References
                            This Platform help customer and transporter
                            to complete the task as per the requirements on
                            tap. It consumes time between transport and
                            user to deliver material easily and faster to real
                            location.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>

