<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item active">
            <a class="nav-link" href="/admin/load_dashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/admin/view_user">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage User</span>
            </a>
        </li>

        <li class="nav-item">
            <a aria-controls="ui-basic" aria-expanded="false" class="nav-link"
               data-toggle="collapse" href="#ui-basic">
                <i class="mdi mdi-google-maps menu-icon"></i>
                <span class="menu-title">Manage State</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_state">Add
                        State</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_state">View
                        State</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a aria-controls="ui-advanced" aria-expanded="false" class="nav-link"
               data-toggle="collapse"
               href="#ui-advanced">
                <i class="mdi mdi-city menu-icon"></i>
                <span class="menu-title">Manage City</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_city">Add
                        City</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_city">View
                        City</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a aria-controls="editors" aria-expanded="false" class="nav-link"
               data-toggle="collapse" href="#editors">
                <i class="mdi mdi-pencil-box-outline menu-icon"></i>
                <span class="menu-title">Manage Transport Type</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="editors">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_transporttype">Add
                        Transporttype</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_transporttype">View
                        Transporttype</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a aria-controls="editors" aria-expanded="false" class="nav-link"
               data-toggle="collapse" href="#agency">
                <i class="mdi mdi-pencil-box-outline menu-icon"></i>
                <span class="menu-title">Manage Agency</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="agency">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_agency">View
                        Agency</a>
                    </li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/admin/view_complain">
                <i class="mdi mdi-headset menu-icon"></i>
                <span class="menu-title">Manage Complain</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view_feedback">
                <i class="mdi mdi-thumb-up menu-icon"></i>
                <span class="menu-title">Manage Feedback</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
